<div class='container'>
<h3>Удаление маршрута № <%= @rout.name%> </h3>
</div>
<%if !@buses.empty?%>
<div class='container'>
<p>Необходимо перенести все автобусы на другой маршрут</p>
</div>
<%form(:method=>:post, :obj=>@parameters, :namespace=>'a') do |f| %>
<table class="table table-striped container">
  <thead>
    <tr>
      <th scope="col">Номер автобуса</th>
      <th> Новый маршрут </th>
      <th> Новое состояние </th>
    </tr>
  </thead>
  <tbody>
  
  <% f.each_obj(@buses) do |bus|%>
    <tr>
      <td><%= bus.number%></td>
      <td><%= f.input(:rout, type: :select, options: @ids) %></td>
      <td><%= f.input(:state, type: :select, options: StateType.all) %></td>
    </tr>
    <%end%>
  </tbody>
</table>
<div class='container'>
<%= f.button(value: 'Удалить и перенести', class: 'btn btn-danger')%>
<a href="<%= routes_path %>" class='btn btn-ligth'>Отмена</a>
</div>
<%end%>
<%else%>
<%form({ method: :post },{ obj: @parameters }) do |f| %>
<div class='container'>
<%= f.button(value: 'Удалить', class: 'btn btn-danger')%>
<a href="<%= routes_path %>" class='btn btn-ligth'>Отмена</a>
</div>
<%end%>
<%end%>