<div>
<br>
<form method="get">
<div class="input-group mb-3">
  <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
    <option selected>Choose...</option>
    <option name="format" value="<%= @params && @params[:format] %>">audio</option>
    <option name="format" value="<%= @params && @params[:format] %>">electronic</option>
    <option name="format" value="<%= @params && @params[:format] %>">printed</option>
  </select>
  <input class="btn btn-primary" type="submit" value="Filter">
</div>
</form>
<h5> All of your books </h5><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Author and book</th>
      <th scope="col">Mark</th>
      <th scope="col">Format</th>
    </tr>
  </thead>
  <tbody>
  <% @sorted_list.each do |book|%>
    <tr>
      <td><%=book.date %></td>
      <td><%=book.name + '  "' + book.book + '"' %></td>
      <td><%=book.mark %></td>
      <td><%=book.format %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>