<div class ="container">
<br>
<h5> Все автобусы </h5><br>
<a href="<%= new_bus_path %>" class="btn btn-light">
      Добавить
    </a>
    <br><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Номер автобуса</th>
      <th scope="col">Расход бензина</th>
      <th scope="col">ФИ водителя</th>
      <th scope="col">Номер маршрута</th>
      <th scope="col">Состояние</th>
      <th scope="col">Функции</th>
    </tr>
  </thead>
  <tbody>
  <% @buses.each do |bus|%>
    <tr>
      <td><%=bus.number %></td>
      <td><%=bus.consumption%></td>
      <td><%=bus.name %></td>
      <td><%=bus.rout %></td>
      <td><%=bus.state %></td>
      <td><a class="button" href="<%= path(bus, 'edit') %>">Изменить </a> |
      <a class="button" href="<%= path(bus, 'delete') %>">  Удалить</a></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>